html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: linear-gradient(180deg, #04081F 0%, #CACDE9 100%);
    /* background-image: url("../assets/Vector2.svg"); */
    color: whitesmoke;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;