html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* animations for landing page */
.hidem {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.showem {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform: translateX(0);
}

@tailwind base;
@tailwind components;
@tailwind utilities;